@use "sass:math";

$total-columns: 12 !default;

@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

@mixin cell {
  box-sizing: border-box;
  flex-shrink: 0;
}

.Grid            { @include grid; }
.Grid.\-top      { align-items: flex-start; }
.Grid.\-middle   { align-items: center; }
.Grid.\-bottom   { align-items: flex-end; }
.Grid.\-stretch  { align-items: stretch; }
.Grid.\-baseline { align-items: baseline; }
.Grid.\-left     { justify-content: flex-start; }
.Grid.\-center   { justify-content: center; }
.Grid.\-right    { justify-content: flex-end; }
.Grid.\-between  { justify-content: space-between; }
.Grid.\-around   { justify-content: space-around; }

.Cell            { @include cell; }
.Cell.\-fill     { width: 0; min-width: 0; flex-grow: 1; }

@for $index from 1 through $total-columns {
  .Cell.\-#{$index}of#{$total-columns} {
    width: percentage(math.div($index, $total-columns));
  }
}
